body {
	background-color: var(--canvas);
}

#app {
	width: 450px;
	height: auto;
	padding: 10px;
	overflow-y: auto;
}

.resultsList {
	&-itemDetails {
		display: none;
		padding: 15px;
		font-size: 14px;
	}

	&-itemDetailList {
		list-style-type: disc;
		padding-left: 24px;
		margin-bottom: 15px;
		font-size: 12px;

		li:not(:last-child) {
			margin-bottom: 8px;
		}
	}

	&-itemStatus {
		background-color: var(--red);
		color: #fff;
		padding: 5px 7px;
		border-radius: var(--radius);
		font-size: 12px;
	}

	&-itemIcons {
		position: absolute;
		top: 50%;
		right: 10px;
		transform: translateY(-50%);

		svg {
			display: block;
			width: 20px;
			height: 20px;
			fill: var(--colorTextSecondary);
			transition: transform var(--transition);
		}
	}

	&-item {
		margin-bottom: 10px;
		list-style-type: none;
		border: 1px solid var(--colorBorderPrimary);
		border-radius: var(--radius);

		&.live {
			.resultsList-itemStatus {
				background-color: var(--green);
			}
		}

		&.active {
			.resultsList-itemIcons svg {
				transform: rotate(180deg);
			}

			.resultsList-itemDetails {
				display: block;
			}
		}
	}

	&-itemKey {
		font-weight: 700;
	}

	&-itemName {
		margin-left: 5px;
		line-height: 20px;
		font-size: 14px;
	}

	&-itemButton {
		display: flex;
		width: 100%;
		text-align: left;
		padding: 15px 35px 15px 15px;
		cursor: pointer;
		position: relative;
		align-items: center;
		font-family: inherit;
		color: inherit;

		* {
			pointer-events: none;
		}
	}

	&-itemDetailsField {
		margin-bottom: 15px;
		display: block;

		&.last {
			margin-bottom: 10px;
			padding-bottom: 10px;
		}
	}
}

.scope {
	font-size: 14px;

	&:not(:last-child) {
		padding-bottom: 15px;
	}

	&-header {
		padding: 15px;
		border: 1px solid var(--colorBorderPrimary);
		border-top-left-radius: var(--radius);
		border-top-right-radius: var(--radius);
		background-color: var(--colorBgSecondary);
		display: flex;
		justify-content: space-between;
	}

	&-content {
		padding: 15px;
		border: 1px solid var(--colorBorderPrimary);
		border-bottom-left-radius: var(--radius);
		border-bottom-right-radius: var(--radius);
		margin-top: -1px;
	}

	&-title {
		font-weight: 600;
	}

	&-status {
		font-size: 12px;
		color: var(--colorTextTertiary);
	}

	&-table {
		width: 100%;

		td,
		th {
			padding: 5px;
		}

		th {
			color: var(--colorTextTertiary);
			font-weight: 600;
			text-align: center;
			font-size: 12px;
		}

		td:first-child {
			font-size: 12px;
			text-align: center;
		}

		th:first-child,
		td:first-child {
			width: 50px;
			vertical-align: middle;
		}
	}
}

.empty {
	min-height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}
