body {
	background-color: var(--canvas);
}

#app {
	min-width: 450px;
	width: 100%;
	height: auto;
	padding: 10px;
	overflow-y: auto;
}

.empty {
	min-height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}
