.detail {
	padding: 5px ​15px 15px;

	&-header {
		display: flex;
		justify-content: space-between;
		margin-bottom: 15px;

		svg {
			display: block;
			width: 18px;
			height: 18px;
			fill: var(--colorTextSecondary);
			transition: transform var(--transition);
			position: relative;
		}
	}

	&-headerBackIcon {
		margin-right: 4px;

		svg {
			transform: rotate(90deg);
		}
	}

	&-headerBack {
		font-size: var(--fontSizePrimary);

		&:hover svg {
			transform: translateX(-5px) rotate(90deg);
		}
	}

	&-headerDashboard {
		font-size: var(--fontSizeSecondary);
	}

	&-headerDashboardIcon {
		margin-left: 7px;
	}

	&-headerBack,
	&-headerDashboard {
		padding: 5px;
		align-items: center;
		text-decoration: none;
		position: relative;
		display: flex;

		&:hover {
			text-decoration: underline;
		}
	}

	&-title {
		font-size: var(--fontSizePrimary);
		font-weight: 600;
		line-height: 24px;
		margin-bottom: 20px;
	}

	&-list {
		list-style-type: disc;
		padding-left: 24px;
		font-size: var(--fontSizeSecondary);

		li:not(:last-child) {
			margin-bottom: 12px;
		}
	}
}
