.collapse {
	&-header {
		border: 1px solid var(--colorBorderPrimary);
		border-radius: var(--radius);
		background-color: var(--colorBgSecondary);
		transition: border var(--transition);
	}

	&-headerButton {
		padding: 12px 45px 12px 12px;
		text-align: left;
		position: relative;
		width: 100%;

		* {
			pointer-events: none;
		}

		.badge {
			margin-right: 8px;
		}
	}

	&-name {
		font-size: var(--fontSizePrimary);
		font-weight: 600;
		transition: color var(--transition);
	}

	&-arrow {
		position: absolute;
		top: 50%;
		right: 10px;
		transform: translateY(-50%);

		svg {
			display: block;
			width: 16px;
			height: 16px;
			fill: var(--colorTextSecondary);
			transition:
				transform var(--transition),
				fill var(--transition);
		}
	}

	&-content {
		padding: 12px;
		border: 1px solid var(--colorBorderPrimary);
		border-bottom-left-radius: var(--radius);
		border-bottom-right-radius: var(--radius);
		margin-top: -1px;
		display: none;

		&.active {
			display: block;
		}
	}

	&.active {
		& > .collapse-header .collapse-arrow svg {
			transform: rotate(180deg);
		}

		& > .collapse-content {
			display: block;
		}
	}

	&:not(:last-child) {
		margin-bottom: 10px;
	}

	&.headerOnly &-headerButton {
		padding-right: 15px;
		cursor: default;
	}
}

@media (hover: hover) {
	.collapse:hover {
		border-color: var(--colorAbtasty);

		.collapse-name {
			color: var(--colorAbtasty);
		}

		.collapse-arrow svg {
			fill: var(--colorAbtasty);
		}
	}
}
