.view {
	padding: 5px ​15px 15px;
	font-size: 14px;

	&-list {
		list-style-type: disc;
		padding-left: 24px;
		margin-bottom: 15px;
		font-size: 12px;

		li:not(:last-child) {
			margin-bottom: 8px;
		}
	}

	&-backLink,
	&-linkDashboard {
		margin-bottom: 10px;
	}

	&-backLinkIcon {
		svg {
			transform: rotate(90deg);
		}
	}
}
