.badge {
	color: var(--white);
	padding: 5px 7px;
	border-radius: var(--radius);
	font-size: var(--fontSizeSecondary);
	display: inline-block;

	&.green {
		background-color: var(--green);
	}

	&.red {
		background-color: var(--red);
	}
}
