body {
	font-family: -apple-system, blinkmacsystemfont, segoe UI, Helvetica, Arial, sans-serif,
		Apple Color Emoji, Segoe UI Emoji;
	color: var(--colorTextPrimary);
}

#app {
	max-width: var(--containerMaxWidth);
}

.textarea {
	width: 100%;
	height: 100px;
	font-family: inherit;
	padding: 8px 12px 6px 12px;
	border-radius: 6px;
	font-size: 14px;
	color: inherit;
	background-color: transparent;
	border: none;
}

.input {
	width: 100%;
	height: 25px;
	font-family: inherit;
	padding: 6px 12px;
	border-radius: 6px;
	font-size: 14px;
	color: inherit;
	background-color: transparent;
	border: none;
}

.linkWithIcon {
	padding: 5px;
	align-items: center;
	font-size: 12px;
	text-decoration: none;
	width: fit-content;
	position: relative;
	display: flex;

	&:hover {
		text-decoration: underline;
	}

	svg {
		display: block;
		width: 10px;
		height: 10px;
		fill: var(--colorTextSecondary);
		transition: transform var(--transition);
		position: relative;
	}

	&.iconLeft svg {
		margin-right: 3px;
	}

	&.iconRight svg {
		margin-left: 3px;
	}
}
