:root {
	--containerMaxWidth: 1000px;
	--white: #fff;
	--canvas: #fff;
	--colorBgSecondary: #fafbfc;
	--colorTextPrimary: #24292e;
	--colorTextSecondary: #586069;
	--colorTextTertiary: #6a737d;
	--colorBorderPrimary: #e1e4e8;
	--green: #4dac49;
	--red: #dc2f02;
	--radius: 6px;
	--transition: 0.3s ease;
	--fontSizePrimary: 16px;
	--fontSizeSecondary: 14px;
}

@media (prefers-color-scheme: dark) {
	:root {
		--canvas: #0d1117;
		--colorBgSecondary: #0d1117;
		--colorTextPrimary: #c9d1d9;
		--colorTextSecondary: #8b949e;
		--colorBorderPrimary: #30363d;
	}
}
