.variation {
	&-listItem {
		display: flex;
		justify-content: space-between;

		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	&-input {
		position: relative;
	}

	&-name {
		cursor: pointer;
		width: 100%;
		display: block;
	}

	&-inputRadio {
		opacity: 0;
		cursor: pointer;
		position: absolute;
		z-index: 1;
		width: 18px;
		height: 18px;
		margin: 0;

		&:checked + .variation-inputRound {
			border-color: var(--green);

			&::after {
				display: block;
			}
		}
	}

	&-inputRound {
		position: relative;
		display: block;
		cursor: pointer;
		width: 18px;
		height: 18px;
		border: 2px solid #fff;
		border-radius: 50%;

		&::after {
			content: '';
			display: none;
			width: 8px;
			height: 8px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: var(--green);
			border-radius: 50%;
		}
	}
}
