.list {
	&-item {
		margin-bottom: 10px;
		list-style-type: none;
		border: 1px solid var(--colorBorderPrimary);
		border-radius: var(--radius);
	}

	&-icon {
		position: absolute;
		top: 50%;
		right: 10px;
		transform: translateY(-50%);

		svg {
			display: block;
			width: 20px;
			height: 20px;
			fill: var(--colorTextSecondary);
			transition: transform var(--transition);
			transform: rotate(-90deg);
		}
	}

	&-name {
		display: block;
		line-height: 20px;
		font-size: var(--fontSizePrimary);

		& + .badge {
			margin-top: 10px;
		}
	}

	&-footer {
		display: flex;
		justify-content: right;
	}

	&-footerDebugName {
		color: var(--colorTextSecondary);
	}

	&-footerDebugIcon {
		margin-left: 3px;

		svg {
			display: block;
			width: 20px;
			height: 20px;
			fill: var(--colorTextSecondary);
			transition: transform var(--transition);
		}
	}

	&-footerDebugButton {
		display: flex;
		align-items: center;
		padding: 5px;

		* {
			pointer-events: none;
		}

		&.active,
		&:hover {
			.list-footerDebugName {
				color: var(--green);
			}

			.list-footerDebugIcon svg {
				fill: var(--green);
			}
		}
	}

	&-link {
		display: block;
		width: 100%;
		padding: 15px 35px 15px 15px;
		cursor: pointer;
		position: relative;
		text-decoration: none;

		* {
			pointer-events: none;
		}

		&:hover .list-icon svg {
			transform: translateX(5px) rotate(-90deg);
		}
	}
}
