.list {
	&-item {
		margin-bottom: 10px;
		list-style-type: none;
		border: 1px solid var(--colorBorderPrimary);
		border-radius: var(--radius);
	}

	&-icon {
		position: absolute;
		top: 50%;
		right: 10px;
		transform: translateY(-50%);

		svg {
			display: block;
			width: 20px;
			height: 20px;
			fill: var(--colorTextSecondary);
			transition: transform var(--transition);
			transform: rotate(-90deg);
		}
	}

	&-name {
		display: block;
		line-height: 20px;
		font-size: var(--fontSizePrimary);

		& + .badge {
			margin-top: 10px;
		}
	}

	&-footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: var(--colorTextSecondary);
	}

	&-footerItem {
		display: flex;
		align-items: center;

		&:not(:last-child) {
			margin-right: 15px;
		}
	}

	&-footerItemLabel {
		display: flex;
		align-items: center;
		margin-right: 10px;
		cursor: pointer;
	}

	&-footerItemButtonIcon {
		margin-right: 10px;

		svg {
			display: block;
			width: 20px;
			height: 20px;
			fill: var(--colorTextSecondary);
		}
	}

	&-footerItemButton {
		display: flex;
		align-items: center;
		margin-right: 10px;

		&:hover {
			color: var(--colorAbtasty);

			svg {
				fill: var(--colorAbtasty);
			}
		}
	}

	&-link {
		display: block;
		width: 100%;
		padding: 15px 35px 15px 15px;
		cursor: pointer;
		position: relative;
		text-decoration: none;

		* {
			pointer-events: none;
		}

		&:hover .list-icon svg {
			transform: translateX(5px) rotate(-90deg);
		}
	}
}
