name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          cache: 'npm'
          cache-dependency-path: ./package-lock.json
          node-version: 24

      - name: Install dependencies
        run: npm install

      - name: Test
        run: npm run test

      - name: Build
        env:
          SENTRY_DSN: ${{ vars.SENTRY_DSN }}
        run: |
          npm run build:v3
          npm run build:v2
          npm run test:ext
