name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    uses: yoriiis/actions/.github/workflows/test-and-build.yml@main
    with:
      node-version: 24
      command-build: |
        npm run build:v3
        npm run build:v2
        npm run test:ext
    secrets:
      EXTRA_SECRETS: ${{ secrets.EXTRA_SECRETS }}
