name: Publish Chrome Web Store

on:
  workflow_dispatch:
  release:
    types: [published]

jobs:
  chrome:
    uses: yoriiis/actions/.github/workflows/chrome-web-store-publish.yml@main
    with:
      node-version: 24
      source-dir: web
      command-build: npm run build:v3
    secrets:
      CHROME_EXTENSION_ID: ${{ secrets.CHROME_EXTENSION_ID }}
      CHROME_CLIENT_ID: ${{ secrets.CHROME_CLIENT_ID }}
      CHROME_CLIENT_SECRET: ${{ secrets.CHROME_CLIENT_SECRET }}
      CHROME_REFRESH_TOKEN: ${{ secrets.CHROME_REFRESH_TOKEN }}