name: Publish Edge Add-ons

on:
  workflow_dispatch:
  release:
    types: [published]

jobs:
  edge:
    uses: yoriiis/actions/.github/workflows/edge-addons-publish.yml@main
    with:
      node-version: 24
      source-dir: web
      command-build: npm run build:v3
    secrets:
      EDGE_PRODUCT_ID: ${{ secrets.EDGE_PRODUCT_ID }}
      EDGE_CLIENT_ID: ${{ secrets.EDGE_CLIENT_ID }}
      EDGE_API_KEY: ${{ secrets.EDGE_API_KEY }}
      EXTRA_SECRETS: ${{ secrets.EXTRA_SECRETS }}
