name: Publish Firefox Add-ons

on:
  workflow_dispatch:
  release:
    types: [published]

jobs:
  firefox:
    uses: yoriiis/actions/.github/workflows/firefox-addons-publish.yml@main
    with:
      node-version: 24
      source-dir: web
      command-build: npm run release:v2
    secrets:
      FIREFOX_API_KEY: ${{ secrets.FIREFOX_API_KEY }}
      FIREFOX_API_SECRET: ${{ secrets.FIREFOX_API_SECRET }}